
<form [formGroup]="editForm" novalidate>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h2>EDITAR ACTIVIDAD</h2>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name">
    <mat-error *ngIf="editForm.controls['name'].invalid && (editForm.controls['name'].dirty || editForm.controls['name'].touched)">El nombre de la actividad es requerida</mat-error>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="dateEstimated" class="col-sm-2 col-form-label">Fecha y hora estimada</label>
    <div class="col-sm-10">
      <input type="datetime-local" matInput [min]="currentDate" class="form-control" id="dateEstimated" formControlName="dateEstimated">
      <mat-error *ngIf="editForm.controls['dateEstimated'].invalid && (editForm.controls['dateEstimated'].dirty || editForm.controls['dateEstimated'].touched)">La fecha y hora estimada es requerida</mat-error>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="dateLate" class="col-sm-2 col-form-label">Dias de retraso</label>
    <div class="col-sm-10">
      <input readonly class="form-control-plaintext" id="dateLate" formControlName="dateLate">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="status" class="col-sm-2 col-form-label">Estado</label>
    <div class="col-sm-10">
      <mat-select class="form-control" id="status" formControlName="status">
        <mat-option value="REALIZADO">REALIZADO</mat-option>
        <mat-option value="PENDIENTE">PENDIENTE</mat-option>
      </mat-select>
      <mat-error *ngIf="editForm.controls['status'].invalid && (editForm.controls['status'].dirty || editForm.controls['status'].touched)">El estado es requerido</mat-error>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="asigned" class="col-sm-2 col-form-label">Asignado</label>
    <div class="col-sm-10">
      <mat-select class="form-control" id="asigned" formControlName="asigned" [compareWith]="objectCompare">
        <mat-option *ngFor="let item of employees" [value]="item">{{item.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="editForm.controls['asigned'].invalid && (editForm.controls['asigned'].dirty || editForm.controls['asigned'].touched)">Debe asignar un empleado</mat-error>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="updateActivity()" [disabled]="editForm.invalid">Actualizar</button>
    </div>
  </div>

</div>
</form>

